<!DOCTYPE html>
<html ng-app='jamesCookTask'>
<head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title>MEAN Recipe App</title>
    <link rel='stylesheet' href='//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css'>
    <link rel='stylesheet' href='stylesheet.css'>
</head>
<body ng-controller='recipeController'>

<div ng-model='edit' class='container'>
    
    

    <myform></myform>
    
    <updateit></updateit>
    <myoutput></myoutput>
    
    



</div>
<script src='//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js'></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
<script src='../app.js'></script>
<script src='../controllers/recipeController.js'></script>
</body>
</html>