html { 
	overflow-y: scroll; 
}

#output {		
	margin: 5px;
	display: inline-table;
	padding: 5px;
	word-wrap: normal;
	border-radius: 10px;
}
li {
	list-style-type: none;
}
#check {
	float:right;
}
.task-body {
	padding-top: 50px;
}

#todo-list { 
	margin-bottom: 30px;
}


