 <div ng-if='edit && shown'> 
    
        
        <form id='formtwo' role='form'>
            <h2 align='center'>Editing {{ editData.name }} by {{ editData.author }} </h2>
            
            <div class='form-group'>
                <label for='editname'>Name: </label>
                <input ng-model='editData.name' class='form-control' name='editname' placeholder='Edit {{ editData.name }}'>
            </div>
            <div class='form-group'>
                <label for='editauthor'>Author: </label>
                <input class='form-control'  placeholder='Edit {{ editData.author }}' name='editauthor' ng-model='editData.author'>
            </div>
            <div class='form-group'>
                <label for='editingredient'>Ingredients:</label>
                <textarea rows='3' cols='30' class='form-control' placeholder='Edit {{ editData.ingredients }}' name='editingredients' ng-model='editData.ingredients'></textarea>
            </div>
            <div class='form-group'>
                <label for='editinstructions'>Instructions:</label>
                <textarea rows='3' cols='30' class='form-control'  placeholder='Edit {{ editData.instructions }}' name='editinstructions' ng-model='editData.instructions'></textarea>
            </div>
            
            <button type='submit' ng-click='updateRecipe(editData._id)' class='btn btn-default'>Submit</button>
            <button type='button' ng-click='create()' class='btn btn-success'>Abandon Changes</button>
        </form>
    
</div>


